/*RESPONSIVE*/

@import "colores";
@import "botones";

/*VISTA MOBILE*/
@media screen and (max-width: 950px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    .navDesktop, #busqueda, #carrito, #botonwave {
        display: none;
    }
    header {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center ;
        font-size: 13px;
        width: 100%;
        justify-content:space-evenly ;
        padding: 20px 0px 20px 0px;
    }
    .logo {
        position: absolute;
        left: 38%;
        top: 17%;
    }
    .grid {
        grid-template-rows: 70px auto 400px;
    }
    .horizontal {
        width: 100%;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
    }
    .iconoBusqueda {
        width: 30px
    }
    /*FOTO SIX SEX INICIO*/
        #wave-index-mobile, #cuin-index-mobile, #basics-index-mobile {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .principal {
        display: none;
    }
    .contenedor-index-mobile {
        position: relative;
        /*border-bottom: 5px solid black;*/
    }
    .boton-index-mobile {
        @include boton (4px solid black, map-get($mapa-colores, gris-clarito), black);
        font-size: 25px;
        padding: 10px 40px 10px 40px;
        border-radius: 2rem;
        text-decoration: none;
        &:hover {
            background-color: black;
        }
    }
    .boton-wave-mobile {
        position: absolute;
        top: 25%;
        left: 5%;
    }
    .boton-cuin-mobile {
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
    .boton-basics-mobile {
        position: absolute;
        bottom: 10%;
        right: 10%;
    }

    /*PRODUCTOS*/
    .productos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        margin: 30px 10px 50px 10px;
    }
    article p {
        line-height: 2;
    }
    /*MENU BURGER*/
    .navBurger {
        display: none;
    }
    .checkBurger:checked ~ ul {
        display: flex;
        flex-direction: column;
    }
    .checkBurger {
        display: none;
    }
    .menuBurger {
        position: relative;
    }
    .navBurger {
        position:absolute;
        z-index: 2;
    }
    .burger_boton {
        text-decoration: none;
        color:white;
        font-size: 20px;
    }
    .listaBurger {
        background-color: black;
        text-align: center;
        padding: 10px 30px 10px 30px;
        &:hover {
            background-color:map-get($map: $mapa-colores, $key: gris-oscuro);
        }
    }
    a:hover {
        color:white;
    }
    /*MAPAS*/
    iframe {
        width: 200px;
        height: 200px;
    }
    /*INPUTS*/
    textarea, input {
        width: calc(100vw - 120px);
        line-height: 2rem;
        padding-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    /*INFO Y CONTACTO*/
    .info, .contacto {
        margin: 40px;
        line-height: 2;
        .form-titulo {
            padding-bottom: 30px;
            text-align: center;
        }
    }
    .formulario-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .salto-mobile {
        display: none;
    }
    .contacto {
        margin-top: 70px;
        margin-bottom: 100px;
        border: 1px solid black;
        border-radius: 2rem;
        background-image: linear-gradient(to bottom, black 0 15%, white 13% 100%);
        opacity: 0.85;
        padding: 10px;
        text-align: center;
    }
    .form-titulo {
        color: white;
        padding: 15px;
    }
    .main-contacto {
        background-image: url(/assets/wave-fondo.jpg);
        background-size: cover;
    }
}

/*VISTA DESKTOP*/
@media screen and (min-width: 950px) {
    .iconoBusqueda {
        display:none;
    }
    .principal-mobile {
        display: none;
    }
    .menuBurger {
        display: none;
    }
    .formulario-desktop {
        padding: 20px;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 4;
        grid-template-areas: "nombre nombre"
                                "mail telefono"
                                "mensaje mensaje"
                                "botones botones";
        row-gap: 10px;
        column-gap: 5px;
    }
    .form-nombre {
        grid-area: nombre;
    }
    .form-mail {
        grid-area: mail;
    }
    .form-telefono {
        grid-area: telefono;
    }
    .form-botones {
        grid-area: botones;
    }
    .form-mensaje {
        grid-area: mensaje;
    }
    .input-largo {
        width: 505px;
    }
    .input-corto {
        width: 250px;
    }
    .contacto {
        margin-top: 70px;
        margin-bottom: 100px;
        border: 1px solid black;
        border-radius: 2rem;
        background-image: linear-gradient(to bottom, black 0 15%, white 15% 100%);
        opacity: 0.87;
    }
    .form-titulo {
        color: white;
        padding: 15px;
    }
    .main-contacto {
        background-image: url(/assets/wave-fondo.jpg);
        background-size: cover;
    }
}